/* General Styling */
body,
html {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0;
  overflow-x: hidden;
}

/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full view height */
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

/* Chat Header */
.chat-header {
  background: linear-gradient(
    148deg,
    rgba(38, 184, 209, 1) 0%,
    rgba(17, 0, 7, 0.391) 61%
  );
  color: #ffffff;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-header h1 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

.chat-header .btn {
  background: #726f3f;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-header .btn:hover {
  background: #5d5491;
}

/* Sidebar */
.chat-sidebar {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(38, 97, 170, 0.195) 23%
  );
  padding: 1rem;
  overflow-y: auto;
}

.chat-sidebar h3,
#room-name,
#users li {
  margin-top: 0;
  font-weight: bold;
  list-style: none;
  padding: 0;
}

#users li {
  padding: 0.5rem 0;
}

/* Chat Main Area */
.chat-main {
  display: flex;
  flex: 1;
}

.chat-messages {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

/* Chat Form */
.chat-form-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.chat-form-container form {
  display: flex;
  width: 100%;
}

.chat-form-container input[type="text"],
.chat-form-container button {
  flex: 1;
  padding: 0.5rem;
  border-radius: 20px;
  margin-right: 1rem;
  border: 2px solid #4b3f72;
}

.chat-form-container button {
  background: #4b3f72;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-form-container button:hover {
  background: #5d5491;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .chat-container,
  .chat-main,
  .chat-sidebar,
  .chat-messages {
    flex-direction: column;
    width: 100%;
  }

  .chat-header,
  .chat-form-container {
    flex-direction: column;
    text-align: center;
  }

  .chat-header .btn,
  .chat-form-container button {
    margin-top: 0.5rem;
  }

  .chat-form-container form {
    flex-direction: column;
  }

  .chat-form-container input[type="text"] {
    margin-bottom: 1rem; /* Adds space between input field and button on smaller screens */
  }
}
